{% extends "base.html" %}
{% block content %}
<div class="container py-5 text-center">
    <div class="mb-4 text-danger"><i class="fa-solid fa-rss fa-6x"></i></div>
    <h1 class="fw-bold mb-4 display-4">About RSSConnect</h1>
    <div class="card shadow-lg mx-auto border-0" style="max-width: 700px;">
        <div class="card-body p-5">
            <p class="lead fs-3">RSSConnect your latest news & information feed dashboard—curated, customized, and completely under your control.</p>
            <hr class="my-4 border-secondary">
            <p class="fs-5">Made By <strong class="text-danger">Zachory Pelletier</strong>.</p>
        </div>
    </div>
</div>
{% endblock %}